Source: uosagas-login-server
Section: games
Priority: extra
Maintainer: Max Kellermann <max.kellermann@gmail.com>
Build-Depends: debhelper (>= 13.3~),
 meson (>= 1.0),
 g++ (>= 4:12),
 libc6-dev (>= 2.13),
 libfmt-dev (>= 9),
 libsystemd-dev
Standards-Version: 4.0.0

Package: uosagas-login-server
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, systemd-sysv
Recommends: nftables
Description: UOSagas login server
 A login server and game proxy for the UOSagas shard.
